extend index.pug 
block content 
    include nav.pug
    .container-fluid.text-wite.py-5(style="background: url('https://appco.themetags.com/img/footer-bg.png')no-repeat center center / cover;height:130vh;")
        .container.py-3
            .row
                .col-4 
                    img(src=`/../image/${course.image}`, alt="" style="height:500px;width:500px").card-img-top.shadow-lg.img-fluid.rounded-lg
                .col-8 
                    table.table.text-light.fs-4 
                        tr 
                            th Course name 
                            td #{course.title}
                        tr 
                            th Course  Instructor
                            td #{course.instructor}
                        tr 
                            th Course price 
                            td #{course.price}
                        tr 
                            th Course discount print 
                            td #{course.discount_print} 
                                del #{course.price}
                        tr 
                            th Course duration 
                            td #{course.duration}
                    .row 
                        .col.my-3 
                            //- a.btn.btn-danger(href=`/student/home`).p-1 Apply for course 
                            form(action="/student/home", method="post")
                                input(type="text", name="course_id" value=`${course._id}`) 
                                .row 
                                    .col-3
                                        input.btn.btn-success.w-100.text-dark.fs-3.p-1(type="submit")   
                                    .col-3
                                        a.btn.btn-warning.fs-3.p-1 Add in Wishlist
                        card.border.border-3 
                            card-body.text-light
                                h1 Course discription 
                                p #{course.description}